@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  display: flex;
  padding: 6rem 2rem 2rem 2rem;
}
header img, header h1, header p {
  margin-bottom: 2rem;
}
header h1 {
  font-weight: bold;
  font-size: 3rem;
}
header p {
  line-height: 1.2rem;
}
header button {
  width: 100%;
  padding: 1rem;
  color: #472F88;
  background-color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (min-width: 900px) {
  header {
    padding: 6rem 7rem;
  }
  header .header__container {
    max-width: 500px;
  }
  header .header__container button {
    width: 200px;
  }
}
main {
  padding: 2rem;
}
@media only screen and (min-width: 900px) {
  main {
    padding: 6rem 7rem;
  }
}

/* === TOP PART === */
.top-part {
  justify-content: center;
  padding: 6rem 2rem;
  text-align: center;
}
.top-part .top-part__container {
  display: flex;
  flex-direction: column;
}
.top-part .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-part .box i {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.top-part .box h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.top-part .box p {
  margin-bottom: 4rem;
}
@media only screen and (min-width: 900px) {
  .top-part {
    padding: 0;
  }
  .top-part .top-part__container {
    flex-direction: row;
    align-items: center;
    margin-bottom: 5rem;
    justify-content: space-between;
  }
  .top-part .top-part__container .box {
    margin-right: 2rem;
  }
}

/* === PICTURES PART === */
.pictures {
  margin-bottom: 10rem;
}

.pictures__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media only screen and (min-width: 900px) {
  .pictures__container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}

.decoration-bar {
  width: 100px;
  height: 10px;
  border-radius: 15px;
  margin-bottom: 2rem;
}

.picture {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
  width: 326px;
  height: 341px;
  overflow: hidden;
  transition: ease-in 0.3s;
}
.picture .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(66, 21, 126, 0.3);
  border-radius: 0.5rem;
}
.picture img {
  border: none;
  border-radius: 0.5rem;
  height: 100%;
}
.picture .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.picture:hover {
  box-shadow: 7px 8px 0px -1px #4A138F;
  border-radius: 0.5rem;
}
@media only screen and (min-width: 900px) {
  .picture {
    margin-right: 2rem;
  }
}

footer {
  padding: 2rem;
}
footer .footer__container {
  display: flex;
  flex-direction: column;
}
footer .footer__container div {
  margin-bottom: 3rem;
}
footer .footer__container .social-media__container i {
  margin-right: 1rem;
  font-size: 1.2rem;
}
footer h3, footer p {
  margin-bottom: 1rem;
}
footer .adress h3 {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 900px) {
  footer {
    padding: 3rem 7rem;
  }
  footer .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }
  footer .footer__container div {
    margin-bottom: 0;
  }
  footer .footer__container .cgu {
    text-align: right;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

.title {
  position: relative;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.title:after {
  position: absolute;
  content: "";
  height: 10px;
  width: 100px;
  background-color: #472F88;
  bottom: 0;
  left: 0;
  border-radius: 15px;
  margin-top: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.main-bg-color {
  background-color: #472F88;
}

.light-text-color {
  color: white;
}

/*# sourceMappingURL=style.css.map */
