<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon fichier</title>
</head>
<body>
    <h1>Fichier <small>HTML</small> </h1>

    <h2>Formulaire</h2>

    <form method="POST" action="/form">
        <input type="email" name="email" placeholder="Entrez votre email"><br>
        <input type="password" name="password" placeholder="Entrez votre mot de passe"><br>
        <button type="submit" name="submit">Envoyer</button>
    </form>

    <img src="/images/milad-fakurian-E8Ufcyxz514-unsplash.jpg" width="200" alt="1">
</body>
</html>