@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');


@import "./reset.scss";
@import "header.scss";
@import "./home.scss";
@import "./footer.scss";

body {
    font-family: 'Roboto', sans-serif;
}


.title {
    position: relative;
    font-weight: bold;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

.title:after{
    position: absolute;
    content: "";
    height: 10px;
    width: 100px;

    background-color: #472F88;
    bottom: 0;
    left: 0;
    border-radius: 15px;

    transform: translateY(1rem);
}

.subtitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.main-bg-color{
    background-color: #472F88;
}

.light-text-color{
    color: white;
}